.post-container {
  margin-bottom: 10px;
  cursor: pointer;

}

.dismiss-post {
  cursor: pointer;
  margin-bottom: 5px;
}

.unread-dot {
  width: 10px;
  height: 10px;
  border-radius: 18px;
  display: block;
  background-color: blue;
}